<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="style.css">

    <link rel="import" href="https://cdn.rawgit.com/download/polymer-cdn/1.1.4/lib/paper-card/paper-card.html"/>
    <link rel="import" href="https://cdn.rawgit.com/download/polymer-cdn/1.1.4/lib/paper-button/paper-button.html"/>

    

  </head>
  <body>
    <div class="topnav">
        <a><img src="/favicon.ico" alt="" style="height: 28px; " /></a>
        <a href="index.html" class="active">Home</a>
        <a href="blog.html">Articles</a>
        <a href="#">About</a>
      </div>
    
    {{content}}
 
  </body>
</html>